<persistence version="2.1"
             xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
    <persistence-unit name="person" transaction-type="JTA">

        <properties>
            <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver" />
            <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/yourDBName" />
            <property name="javax.persistence.jdbc.user" value="yourDBUserName" />
            <property name="javax.persistence.jdbc.password" value="userDBPassword" />
        </properties>

    </persistence-unit>
</persistence>